.bgimage {
    background-image: url('images/hot-air-balloons.jpg');
    background-size: cover;
    
    height: 100vh;
}  

.title {
    text-align: center;
    color: black;
}

.socialMediaIcon {
  margin-top: 5vh;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  margin-left: 15px;
}

@media (min-width: 100px) { 
  .title {
    font-size: 10vw;
    padding-top: 5vh;
  }
  .socialMediaIcon {
    margin-top: 15vh;
  }
}

@media (min-width: 992px) { 
  .title {
    font-size: 6vw;
  }
  .socialMediaIcon {
    margin-top: 5vh;
  }
}